ETag for GET `api/v2/files/content/`

#### Describe the change
IF the server would send `ETag` Response Header (probably send content hash as etag), and implement `If-None-Match` Request header, a client could leverage client side caching of file contents. 

This would come in handy when displaying images in the balloon file previewer.

#### Current situation
With every request to `api/v2/files/content?id=:id:` a files content is fully downloaded, even if it did not change on the server.

#### Should
Send `ETag` response header according to [RFC7232 Section 2.3](https://tools.ietf.org/html/rfc7232#section-2.3) and verify `If-None-Match` request header according to [RFC7323 Section 3.2](https://tools.ietf.org/html/rfc7232#section-3.2)

